.App {
  text-align: center;
  width: 1100px;
  box-sizing: border-box;
  margin: 0 auto;
  font: 400 14px/1.4em Meta, sans-serif 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.imgInfo {
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 3px 3px;
  position: relative;
  top: -4px;
  line-height: 32px;
}

.imgInfo button {
  display: block;
  margin: 0 auto;
  background-color: white;
  border: none;
  line-height: 32px;
  font-size: 16px;
}

.imgInfo button:hover .logoEffect {
  transition: all 2s ease;
  left:400px;
}

.logoEffect {
  pointer-events: none;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 48%, white 50%, rgba(255,255,255,1) 52%,rgba(255,255,255,0) 100%);
  position: absolute;
  left: -200px; 
  height: inherit;
  width: 200px;
}

.logoOverflowCheck {
  overflow-x:hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.searchForm {
  text-align: center;
  display: flex;
  justify-content: center;
}

.searchInput{
  line-height: 24px;
  font-size: 16px;
  border-style: solid;
  padding: 4px 0 4px 10px;
  border-width: 1px;
  margin-right: 10px;
}

.searchButton {
  height: 33px;
  font-size: 16px;
  background-color: white;
  border-style: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.searchButton:hover {
  background: grey;
}

h2 {
  font-size: 30px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  margin: 10px;
}

ul li img {
  height: 300px;
  border-radius: 3px 3px 0 0;
}