.App {
  text-align: center;
  width: 1100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.imgInfo {
  height: 30px;
  border: 1px solid black;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

ul li img {
  height: 300px;
}